* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    border: 10px solid;
    margin: 2rem;
}

.box {
    min-width: 150px;
    height: 150px;
    border: 3px solid;
    background: #cba;
    padding: 0rem;
    font-size: 6rem;
    line-height: 150px;
    text-align: center;
    color: #a98;
    transition: all .5s;
}

/* write rotate class here */
.rotated {
    animation: spin 1s forwards;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}